/* Layout */
html, body, .capa{
	height: 100%;
}

/* Capa */

.capa{
	border: 1px solid red;
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* Botões da capa */

.btn-custom{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 50px;
	margin: 0px 15px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}

.btn-roxo{
	background: #7c25f8;
}

.btn-roxo:hover{
	background-color: #6207e3;
	color: white;
}

.btn-branco{
	border: 2px solid white;
}

.btn-branco:hover{
	background-color: white;
	color: black; 
}

h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

body{
	border: 1px solid red;
	background: url('imagens/capa.png'),
				url('imagens/ruido.png'),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}

/* Barra de navegação */
.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg') no-repeat;
	border: 1px;
	background-size: contain;
	color: transparent;

}

nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
}

.navbar-brand{
	padding-top: 5px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a{
	 color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
	 color: #00FF00;
}

.fonte{
	font: 16px Circular, Helvetica, Arial, sans-serif;
	padding: 28px 17px;
	font-weight: bolder;
}

.inscreverseEntrar{
	color: grey;
	max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    height: 22px;
    line-height: 24px;
    vertical-align: top;
}
/* Imagem para a capa */

